:root {
    --bg: #1d1d1d;
    --bg2: #272727;
    --light: #383838;
    --dark: #121212;
    --text: #ff6d6d;
    --hover: #f83b3b;
    --border: var(--bg2);
    --grayed: #505050;
  
    --rounding: 15px;
  }


body {
    background-color: #121212;
}

.mainlist {
}

.mainlist > tbody > tr {
    background-color: #1d1d1d;
}
.mainlist > tbody > tr:nth-child(even) {
    background-color: #272727;
}

.updatebutton {
    position: absolute;
    top: 0;
    left: 0%;
}

.sortbutton {
    background-color: #121212;
}

.detable > tbody > tr {
    background-color: #1d1d1d;
}
.detable > tbody > tr:nth-child(even) {
    background-color: #272727;
}
