:root {
    --bg: #1d1d1d;
    --bg2: #272727;
    --light: #383838;
    --dark: #121212;
    --text: #ff6d6d;
    --hover: #f83b3b;
    --border: var(--bg2);
    --grayed: #505050;

    --rounding: 15px;
}

body {
    background-color: #121212;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

thead,
tfoot {
    background-color: #181818;
}

table>tbody>tr {
    background-color: #272727;
}

table>tbody>tr:nth-child(even) {
    background-color: #1d1d1d;
}

button {
    background-color: #121212;
}

.indexbody {
    margin: 0;
    max-width: none;
}

.sorttype {
    float: right;
}

.sortbutton {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hiddensubmit {
    visibility: hidden;
    height: 0%;
    margin: 0;
    padding: 0;
}

.buttons {
    float: left;
}

.buttons > * {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 40px;
    vertical-align: middle;
}

.searchbutton {
    height: 40px;
}

.overlay {
    background-color: black;
    padding: 10px;
    /* right: 0; */
    float: right;
}

.prodname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prodname > a {
    color: white;
}
.prodname:hover {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

.pagebuttons {
    height:45px;
}

.submit {
    margin: 0;
}

.prev {
    float:left;
    width:fit-content;
    margin:0;
}

.next {
    float:right;
    width:fit-content;
    padding:0;
}

.tablecontainer {
    margin-top: 20px;
}

.biglist > thead:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    width: 30%;
}


