<% include!("./header.html"); %>
    <body>
        <h2>Insert custom product</h2>
        <form action="/insert">
            <input type="text" name="Name" value="" placeholder="Name">
            <input type="number" name="kcal" value="" placeholder="kcal">
            <input type="number" name="Protein" value="" placeholder="Protein">
            <input type="number" name="Karbohydrater" value="" placeholder="Karbohydrater">
            <input type="number" name="Fett" value="" placeholder="Fett">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>