<% include!("./header.html"); %>
    <body>
        <a href="/">Table</a>
        <h2>Insert custom product</h2>
        <form action="/insert">
            <div class="inserts">
                <input type="text" name="Name" value="" placeholder="Name">
                <% for (item, unit) in nutrient_order { %>
                    <input type="number" step="any" name="<%= item %>" value=""
                    <% if item != unit { %>
                        placeholder="<%= item %> (<%= unit %>)"
                    <% } else { %>
                        placeholder="<%= item %>"
                    <% } %>
                    >
                <% } %>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>