<% include!("./header.html"); %>
    <body>
        <a href="/">Table</a>
        <h1><%= product %></h1>
        <div class="buttons">
            <form action="/amount">
                <input type="hidden" name="product" value="<%= product %>">
                <input type="number" step="any" name="amount" value="" placeholder="Custom grams">
                <input type="submit" class="hiddensubmit">
            </form>
            <form action="/add">
                <input type="hidden" name="product" value="<%= product %>">
                <input type="hidden" name="amount" value="<%= multiplier %>">
                <input type="submit" value="Add to list">
            </form>
        </div>
        <table class="detable">
            <thead>
                <tr>
                    <td>
                        Næringsinnhold per <%= (format!("{:.1}", multiplier * 100.)).replace(".0", "") %> g
                    </td>
                    <td></td>
                </tr>
            </thead>


            <% for (nutrient_id, nutrient_dict_hashmap) in dictionary { %>
                <% if food_data_map[&product].contains_key(&nutrient_id) { %>
                    <tr>
                        <% if vec!["protein", "fat", "carb"].contains(&&nutrient_id.as_str()) { %>
                            <td><b><%= nutrient_dict_hashmap["no"] %></b></td>
                        <% } else if nutrient_dict_hashmap["parent"] != "" { %> 
                            <td><i>&nbsp;&nbsp;<%= nutrient_dict_hashmap["no"] %></i></td>
                        <% } else {%>
                            <td><%= nutrient_dict_hashmap["no"] %></td>
                        <% } %>

                        <% let prec: usize; %>
                        <% if vec!["g", "µg"].contains(&&nutrient_dict_hashmap["unit"].as_str()) { %>
                            <% prec = 1; %>
                        <% } else if &nutrient_dict_hashmap["unit"] == "mg" { %>
                            <% prec = 2; %>
                        <% } else { %>
                            <% prec = 0; %>
                        <% } %>
                        <td><%= (format!("{} {}", format!("{:.prec$}", (food_data_map[&product][&nutrient_id].parse::<f32>().unwrap() * multiplier)), nutrient_dict_hashmap["unit"])) %></td>
                    </tr>
                 <% } %>
            <% } %>
        </table>
    </body>
</html>
