<% include!("./header.html"); %>
    <body>
        <a href="/">Table</a>
        <h1><%= product %></h1>
        <div class="buttons">
            <form action="/amount">
                <input type="hidden" name="product" value="<%= product %>">
                <input type="number" step="any" name="amount" value="" placeholder="Custom grams">
                <input type="submit" class="hiddensubmit">
            </form>
            <form action="/add">
                <input type="hidden" name="product" value="<%= product %>">
                <input type="hidden" name="amount" value="<%= multiplier %>">
                <input type="submit" value="Add to list">
            </form>
        </div>
        <table class="detable">
            <thead>
                <tr>
                    <td>
                        Næringsinnhold per <%= (format!("{:.1}", multiplier * 100.)).replace(".0", "") %> g
                    </td>
                    <td></td>
                </tr>
            </thead>
            <% for (item, unit) in order { %>
                <% if foods[&product].contains_key(item) { %>
                    <tr>
                        <td><%= item %></td>

                        <% let prec: usize; %>
                        <% if item != "Omega-3" && unit == "g" || unit == "mg-ATE" || unit == "µg" || unit == "µg-RE" { %>
                            <% prec = 1; %>
                        <% } else if unit == "mg" || item == "Omega-3" { %>
                            <% prec = 2; %>
                        <% } else { %>
                            <% prec = 0; %>
                        <% } %>

                        <td><%= (format!("{} {}", format!("{:.prec$}", (foods[&product][item].parse::<f32>().unwrap() * multiplier)), unit)) %></td>
                    </tr>
                 <% } %>
            <% } %>
        </table>
    </body>
</html>
